---
title: Fab13 Conference
layout: page
subtitle: Be part of the largest conference on digital fabrication in the world.
intro: Join us in Santiago de Chile for the annual meeting of the international Fab
  Lab network!
button-text: Activities
button-link: "/conference#conference-activities"
header-img: "/img/backgrounds/conference2.svg"
bg-color: 457b9d
photo: "/img/conference/conference1.jpg"
description: Join world-class panelists, members of the Fab Lab community, makers
  from all over the world and professionals from all kinds of fields in the 13th annual
  Fab Lab Conference in Santiago de Chile from July 31 to August 3, followed by the
  Fab13 Symposium and the Fab Festival on the 4th and 5th of August. Attend world-class
  panels, demos, workshops, discussions and lab presentations from represeantatives
  from all over the globe!
---

{% include speakers-conference.html %}
{% include conference-activities.html %}
{% include schedule-conference.html %}
{% include venues-conference.html %}

   