---
layout: page
title: Fab13 Festival
subtitle: "From Moore’s Law to Lass’ Law: The Next Fifty Years"
intro: "Looking ahead to fifty years of doubling in digital fabrication performance and access."
button-text: Activities
button-link: /festival#festival-modules
header-img: /img/festival/festival3.svg
bg-color: 1d3557
photo: /img/festival/festival.jpg
description: El Fab Festival es un evento de 2 día abierto al público, destinado a niños de todas las edades conmemorando el día del niño en su clausura del día domingo. Tendremos sin número de talleres gratuitos donde los niños tendrán la posibilidad de tener sus primeros acercamientos en metodologías en fabricación digital (corte laser, fresadora de 3 eje e impresión 3D), actividades tecnológicas y hasta un desfile de modas. Un evento que sin duda no te podrás perder!"
---


{% include festival-activities.html %}
{% include schedule-festival.html %}
{% include venues-festival.html %}
