---
title: Fab13 Festival
layout: page
subtitle: El Gran Festival de la Fabricación Digital
intro: El Fab Festival es un evento de 2 día (Sábado y Domingo) abierto al público.
  Tendremos un sin número de talleres gratuitos donde los niños y jovenes tendrán
  la posibilidad de tener sus primeros acercamientos en metodologías en fabricación
  digital (corte laser, fresadora de 3 eje e impresión 3D), actividades tecnológicas
  y hasta un desfile de modas. Un evento que sin duda no te podrás perder!
button-text: Photos
button-link: "/festival#festival-modules"
header-img: "/img/festival/festival3.svg"
bg-color: 1d3557
photo: "/img/festival/fest6.jpg"
description: ENTRADA GRATUITA
---

{% include festival-activities.html %}
{% include schedule-festival.html %}
{% include venues-festival.html %}
