---
title: Fab13 Working Groups
layout: page
subtitle: Share and discuss ideas with experts from all over the globe.
intro: Join us in Santiago de Chile for the first Working Gropus of the international
  Fab Lab network!
button-text: Photos
button-link: "/working-groups#working-groups-activities"
header-img: "/img/conference/conference2.svg"
bg-color: 457b9d
photo: "/img/symposium/wg.jpg"
description: Join us in the first Working Groups of the Fab Labs Network. Working
  Groups are a merge of topics of the same line that create an atmosphere to create
  new challenges for the network and the world. These groups will serve as the debat
  rooms of the future. Come an join us!
---

{% include working-groups-activities.html %}
{% include schedule-working-groups.html %}
{% include venues-conference.html %}

   