<!--Applications -->
<div id="group6" class="parallax__group">

    <div class="parallax__layer parallax__layer--back text-center group-top apply-ribbon" style="">
        <img class="bg-responsive" src="/img/backgrounds/color-top-gray.svg">
    </div>
    <div class="parallax__layer parallax__layer--base top">
        <div class="container group-top text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-title">APPLICATIONS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 text-center">
                    <img src="/img/backgrounds/fab12.jpg" class="section-pic" >
                </div>
                <div class="col-md-6 col-sm-6 text-left">
                    <div>
                        {% for application in site.data.applications %}
                            <!--<a href="#applicationModal{{ application.modalid }}" class="portfolio-link" data-toggle="modal">-->
                            <a href="{{ application.url }} " target="_blank">
                                <h4 class="applications-link link-grow">+ {{ application.name }}</h4>
                                <p class="applications-text" >{{ application.short }}</p> 
                            </a>
                        {% endfor %}
                    </div>
                    <!--
                    <div>
                        <p class="text-muted" style="padding-left:13px;">Applications close on 1 June 2017. Internship applications close on May 31.</p>
                    </div>-->
                </div>
            </div>
            
            
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-12 col-sm-12 text-center">
                    <p class="text-muted" style="">Applications close on 1 June 2017. Internship applications close on May 31.</p>
                </div>
            </div>
        </div><!--container-->
    </div> <!--layer base-->

</div><!--parallax group -->



















