<!--Challenge Individual Page-->

<div id="subpage-header" class="parallax__group">
  <div class="parallax__layer parallax__layer--base">
    <div class="subpage-banner" style="background-image: url(../img/challenge/{{ site.data.challenge.intro.img }}); background-color: #d03848;">
      <div class="container subpage-container">
        <div class="row row-page row-symposium">
          <div class="col-lg-12 text-center">
            <h3 class="subpage-title" style="color: #f9f9f9; font-size: 32px;">{{ site.data.challenge.intro.title }}</h3>
          </div>
          <div class="col-lg-12 text-center">
            <p class="subpage-subtitle">{{ site.data.challenge.intro.subtitle }}</p>
            <p class="subpage-entry">{{ site.data.challenge.intro.entry }}</p>
            <div class="row text-center" style="padding-top:15px; padding-bottom: 40px;">
                <a class="btn link-grow" href="/festival#festival-schedule">{{ site.data.challenge.intro.button }}</a> 
            </div>
          </div><!--col-->
        </div><!--row-symposium-->
      </div><!--container-->
    </div> <!--subpage-banner-->
  </div> <!--layer--base-->

  <div class="parallax__layer parallax__layer--back text-center">
    <div class="subpage-bg" style="background-image: url(../img/challenge/{{ site.data.challenge.intro.background }});"></div>
  </div> <!--layer-back-->

  <div class="parallax__layer parallax__layer--base">
    <div class="col-sm-12 col-md-12" style=" background-color: #d03848;">
      <div class="container text-center">
        <div class="row row-page" style="padding: 50px 0px 50px 0px;">
          <div class="col-lg-12 text-center" id="subpage-desc">
            <p> {{ site.data.challenge.intro.p1 }}</p><br>
            <p> {{ site.data.challenge.intro.p2 }}</p><br>
            <p> {{ site.data.challenge.intro.p3 }}</p><br>
          </div>
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--col-->
  </div> <!--layer--base-->
</div> <!--symposium-header-->


<div id="challenge-participate" class="parallax__group">
  <div class="parallax__layer parallax__layer--back text-center">
    <img class="bg-responsive" src="/img/backgrounds/color-top-gray-short.svg"/>
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div class="container section-content text-center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">Participate</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center" style="padding-bottom: 20px;"  >
          <h4 class="section-subtitle">How can I participate? </h4>
          <p>{{ site.data.challenge.intro.how }} <a href="/challenge#tickets"> here. </a>
          </p>
        </div>
        <div class="col-md-6 text-center" style="padding-bottom: 20px;" >
          <h4 class="section-subtitle">Time Schedule </h4>
          <p>{{ site.data.challenge.intro.time }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center" style="padding-bottom: 20px;" >
          <h4 class="section-subtitle">Prizes </h4>
          <p>{{ site.data.challenge.intro.prizes }}</p>
        </div>
        <div class="col-md-6 text-center" style="padding-bottom: 20px;" >
          <h4 class="section-subtitle" >Organized by: </h4>
           {% for sponsor in site.data.sponsors %}
              {% if sponsor.role == 'challenge' %}
                 <a href="{{ sponsor.url }}" target="_blank">
                     <div class="col-xs-6 col-sm-6 col-md-6 sponsor-div link-grow">
                          <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                      </div>
                  </a>
              {% endif %}
          {% endfor %} 
        </div>
      </div>
    </div><!--container-->
  </div><!--layer--base-->
</div><!--challenge-participate -->












