<!-- Curtain-->

<div id="curtain" class="parallax__group no-padding">
    <div class="parallax__layer parallax__layer--deep">
        <div style="position:absolute;">
            <img class="bg-responsive" src="/img/backgrounds/particles.svg"/>
        </div>
    </div>
    <div class="parallax__layer parallax__layer--base">

    	<!-- Full Page Image Background Carousel Header -->
        <div id="myCarousel" class="carousel slide">
        <!--
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            -->

            <!-- Wrapper for Slides -->
            <div class="carousel-inner" role="listbox">
                <!--Slide 0-->
                <div class="item active">
                    <div class="fill" style="background-image:url('/img/carousel/{{ site.data.carousel-home.fallback }}'); background-image:url('/img/carousel/{{ site.data.carousel-home.cover }}');"></div>
                </div>
                {% for image in site.data.carousel-home.imgs %}
                <div class="item">
                    <a href="{{ image.url }}" target="_blank">
                    <div class="fill" style="background-image:url('/img/carousel/{{ image.file }}');"></div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>

        </div><!--myCarousel-->

    </div><!--layer-base-->
</div><!--parallax__group-->





