
<!--FAQ -->
<div id="faq" class="parallax__group no-padding">
	<div class="parallax__layer parallax__layer--base">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-6 col-lg-6">
					<p class="bold">Tienes preguntas?</p>
					<div class="row text-center" style="padding-top:10px;">
						<a class="btn link-grow" target="_blank" href="https://docs.google.com/document/d/1J-0jjVQyuY1QH1FAohTy32tcrpz6luEOv6vGUGCjGP4/edit">Revisa nuestro FAQ</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-6 download-module">
					<p class="bold">Descarga nuestro Media Pack!</p>
					<div class="row text-center" style="padding-top:10px;">
						<a class="btn link-grow" target="_blank" href="/Fab13_Graphic_pack.zip">Descargar</a>
					</div>
				</div>
			</div>
			
		</div> <!--container-->
	</div>
</div><!--group-->	

