<!--FAQ -->
<div id="group14" class="parallax__group">
	<div class="parallax__layer parallax__layer--base">
		<div class="container">
			<div class="row text-center" style="padding-top:0px;">
				<div class="col-md-12">
					<p class="bold">Do you have any questions?</p>
				</div>
			</div>
			<div class="row text-center" style="padding-top:10px;">
				<a class="btn link-grow" target="_blank" href="https://docs.google.com/document/d/1J-0jjVQyuY1QH1FAohTy32tcrpz6luEOv6vGUGCjGP4/edit">Check out our FAQ</a>
			</div>
		</div> <!--container-->
	</div>
</div><!--group-->	
