<!--Fab 13 Festival -->

<section id="festival">
    <div id="group6" class="parallax__group">

        <div class="parallax__layer parallax__layer--back text-center">
            <img class="bg-responsive" src="/img/backgrounds/color-top-short.svg">
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 style="">FAB13 FESTIVAL</h2>
                    </div>
                </div>
	            <div class="row">
                    <div class="col-md-6 col-sm-6 text-center">
                        <img src="/img/backgrounds/fab12.jpg" style="width:90%;">
                    </div>
	            </div>
            </div><!--container-->
        </div> <!--layer base-->

    </div><!--parallax group -->
</section>


















