 <!-- Application Form Modals -->
{% for application in site.data.applications %}
<div class="track-modal modal fade" id="applicationModal{{ application.modalid }}">
    <div class="modal-content modal-particles" style= "background-color: #{{ application.color }}; ">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-bottom:20px;">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ application.name }}</h2>         
                        <div class="text-center"><iframe src="{{ application.embed}}" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>}</div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-center">
                         <p style="padding-top: 30px;">Thank you</p>    
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <a class="page-scroll btn btn-inverted" data-dismiss="modal">Close</a>
            </div>
         </div> <!--container -->
    </div>
</div>
{% endfor %}


<style>
/*---- google forms overwrites --*/

.freebirdHeaderMast {
    background-image: none;
    background-size: cover; 
    background-position: center;
    color: transparent; 
}
</style>
