<!-- Header Section -->
<section id="header">
	<div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
			<div class="title">
				<img class="header-img" src="/img/logos/header-logo.svg">
				<div class="row text-center" style="padding-top:25px;">
					<a class="btn link-grow" href="#tickets">Get Tickets</a>
				</div>
			</div>
		</div>	
		<div class="parallax__layer parallax__layer--back" style="position:relative;">
			<div class="title">
				<img class="bg-responsive" src="/img/backgrounds/particles.svg"/>
			</div>
		</div>
	</div><!--parallax group-->	
</section>


