<!-- Header Section -->
<section id="header">
	<div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
			<div class="title">
				<img src="/img/logos/header-logo.svg/" style="padding-bottom:0px;">
				<div class="row text-center" style="padding-top:10px;">
					<a class="page-scroll btn" href="schedule">Get Tickets</a>
				</div>
			</div>
		</div>	
		<div class="parallax__layer parallax__layer--back" style="position: relative;">
			<div class="title">
				<img class="bg-responsive" src="/img/backgrounds/particles.svg"/>
			</div>
		</div>
	</div><!--parallax group-->	
</section>


