<!-- Header Section -->
<section id="header">

	<div id="group2" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
			<div class="row text-center">
				<img src="/img/logos/header-logo.svg/" style="padding-bottom:70px;">  
			</div>
			<div class="row text-center" style="padding-top:10px;">
				<a class="page-scroll btn" href="schedule">View program</a>
			</div>
		</div>
	</div>		



	<div class="parallax__layer parallax__layer--back">
		<div class="title particles"></div>
	</div>

</section>


