<canvas ontouchstart="touchStart(event);"
ontouchmove="touchMove(event);"
ontouchend="touchEnd(event);"
ontouchcancel="touchCancel(event);"
id="sketch" width="1280" height="720" data-processing-sources="/processing/script1/script1.pde" autofocus> </canvas>

<script type="text/javascript">

var processingInstance;


function setProcessingMouse(event){
    if (!processingInstance) {  
        processingInstance = Processing.getInstanceById('sketch');  
    }  
    
      var x = event.touches[0].clientX;
      var y = event.touches[0].clientY;


    processingInstance.mouseX = x;
    processingInstance.mouseY = y;
};

function touchStart(event) {
    event.preventDefault();
    setProcessingMouse(event);
    processingInstance.mousePressed();
};

function touchMove(event) {
    event.preventDefault();
    setProcessingMouse(event);
    processingInstance.mouseDragged();
};

function touchEnd(event) {
    event.preventDefault();
    setProcessingMouse(event);
    processingInstance.mouseReleased();
};

function touchCancel(event) {
    event.preventDefault();
    setProcessingMouse(event);
    processingInstance.mouseReleased();
};

</script>