<!--Intro text -->
<section id="about">

  <div id="group3" class="parallax__group">
  
    <div class="parallax__layer parallax__layer--fore">
       <img src="/img/backgrounds/particles-short.svg">
    </div>
  
    <div class="parallax__layer parallax__layer--base">
      <div class="title" style="width:100%;">
        <div class="container container-text text-center">
          <div class="row text-center">
            <h3>#Fabricating Society</h3>
          </div>  
          <div class="row">
            <div class="col-md-12">
              <p class="large">Each year members of the more than 1,000 worldwide Fab Labs gather to share, discuss, collaborate and create communities around the different local and global interests regarding digital manufacturing, innovation and technology. 
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p> This year, The 13th International Fab Lab Meeting will be held in Santiago de Chile, and "Fabricating Society" will be its central topic. Chile has reached economic development indexes that classify it as a prosperous country in development, but there are still many gaps in certain strategic dimensions that make the process of constructing a developed society quite challenging.
              </p>
            </div>
          </div>
        </div><!--container --> 
      </div><!--title-->
    </div><!--layer-base-->
  </div><!--parallax-group-->

</section>







