<!--Intro text -->
<div id="group3" class="parallax__group">
  <div class="parallax__layer parallax__layer--fore">
     <img class="bg-responsive" src="/img/backgrounds/particles-short.svg">
  </div>

  <div class="parallax__layer parallax__layer--base">
      <div class="container container-text text-center">
        <div class="row text-center">
          <h3>#Fabricating Society</h3>
        </div>  
        <div class="row">
          <div class="col-md-12">
            <p class="large">Each year members of the more than 1,000 worldwide Fab Labs gather to share, discuss, collaborate and create communities around the different local and global interests regarding digital manufacturing, innovation and technology. 
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p> This year, The 13th International Fab Lab Meeting will be held in Santiago de Chile, and "Fabricating Society" will be its central topic. Chile has been classified as a prosperous country in development, but there are still many gaps in strategic dimensions that make the process of constructing a developed society challenging. Fab 13 Santiago 2017 has established three objectives: present successful projects that create high social impact, position Chile as a Global Hub for innovation and entrepreneurship, and reinforce Latin America as a region focused on social development.
            </p>
          </div>
        </div>

        <div class="row" style="padding-top: 50px;">
          <div class="col-sm-12 col-md-12 text-center">
           <!--<img src="/img/backgrounds/santiago.jpg" style="width:90%;">-->
           <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/195949279?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
          </div>
        </div><!--row-->

      </div><!--container--> 
  </div><!--layer-base-->

</div><!--parallax-group-->








