<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
<!-- jQuery -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Header JavaScript -->
<script src="{{ "/js/logoHeader.js" | prepend: site.baseurl }}"></script>

<!-- Carousel JavaScript -->
<script src="{{ "/js/carrusel.js" | prepend: site.baseurl }}"></script>

<!-- Modal Photo Gallery JavaScript -->
<script src="{{ "/js/modalGallery.js" | prepend: site.baseurl }}"></script>

<!--Twitter call for last tweet home mosaic-->
<script src="{{ "/js/twitter-call.js" | prepend: site.baseurl }}"></script>

<!--Cookie consent script  -->
<script src="{{ "/js/bootstrap-cookie-consent.js" | prepend: site.baseurl }}"></script> 