
<!--Map Section -->
<section>
    <div id="cd-google-map">
        <!--<address>86-90 Paul Street, London, EC2A 4NE</address> -->
        <div id="google-container"></div>
        <div id="cd-zoom-in"></div>
        <div id="cd-zoom-out"></div>
    </div>   
</section>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPVpqylQQcuma6X00KzNbejOFak427SZU&callback=initMap"
  type="text/javascript"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js"></script>--
