 <!-- Tracks Modals -->
{% for track in site.data.tracks %}
<div class="track-modal modal fade" id="tracksModal{{ track.modalid }}">
    <div class="modal-content modal-particles" style= "background-color: #{{ track.color }}; ">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-bottom:50px;">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-center">
                        <img class="img-icon" src="/img/modals/{{ track.imgmodal }}">
                        <h2>{{ track.name }}</h2>         
                        <p>{{ track.text }}</p>
                        <h4>Speakers</h4>
                        {% for speaker in track.speakers %}
                            <a href="/speakers" alt="{{ speaker.name }}">
                                <div class="modal-speaker" style= "background-image: url(..{{ speaker.img }});"> </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:50px;">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-center">
                         <h4>Activities</h4>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <a class="page-scroll btn btn-inverted" href="/schedule">View schedule</a>
            </div>
         </div> <!--container -->
    </div>
</div>
{% endfor %}
