 <!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="track-modal modal fade" id="tracksModal{{ post.modal-id }}">
    <div class="modal-content" style= "background-color: #{{ post.color }}; ">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>         
                        <p>{{ post.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
