<nav class="navbar navbar-init" id="menu" role="navigation">
 <div class="container" style="padding-right: 0px; padding-left: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <a class="navbar-brand nav-link link-grow" href="/">Fab13</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-left">
        <li class="link-grow"><a class="nav-link" href="/#about">About</a></li>
        <li class="link-grow"><a class="nav-link" href="/#speakers">Speakers</a></li>
        <li class="link-grow"><a class="nav-link" href="/#apply">Apply</a></li>
        <li class="link-grow"><a class="nav-link" href="/#travel">Travel</a></li>
        <!--<li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Travel <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/travel">All</a></li>
          <li><a href="/travel#travel-hotels">Hotels</a></li>
          <li><a href="/travel#invitation-letters">Visa Invitation Letters</a></li>
          <li><a href="/travel#visas">Visa Requirements</a></li>
          <li><a href="/travel#transport">Transport</a></li>
          <li><a href="/travel#customs">Customs</a></li>
          <li><a href="/travel#discover-chile">Discover Chile</a></li>
          <li><a href="/travel#other-links">Useful Links</a></li>
        </ul>
      </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="link-grow"><a class="nav-link" href="/#schedule">Schedule</a></li>
        <li class="link-grow"><a class="nav-link" href="/#venues">Fab13Map</a></li>
        <li class="link-grow"><a class="nav-link" href="/#tickets">Tickets</a></li>
        <li class="link-grow"><a class="nav-link" href="/cast"><img class="flag" src="/img/elements/chile.PNG"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar-container -->
</nav>
