<nav class="navbar navbar-init" id="menu" role="navigation">
 <div class="container" style="padding-right: 0px; padding-left: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <a class="navbar-brand nav-link link-grow" href="/">Fab13</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-left">
        <li class="link-grow"><a class="nav-link" href="#group3">About</a></li>
        <li class="link-grow"><a class="nav-link" href="#group5">Speakers</a></li>
        <li class="link-grow"><a class="nav-link" href="#group6">Apply</a></li>
        <li class="link-grow"><a class="nav-link" href="#group7">Travel</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="link-grow"><a class="nav-link" href="#group8">Schedule</a></li>
        <li class="link-grow"><a class="nav-link" href="#group9">Fab13Map</a></li>
        <li class="link-grow"><a class="nav-link" href="#group10">Tickets</a></li>
        <li class="link-grow"><a class="nav-link" href="#group11">Sponsors</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar-container -->
</nav>
