<nav class="navbar navbar-init navbar-fixed-top" id="menu" role="navigation">
 <div class="container" style="padding-right: 0px; padding-left: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand nav-link link-grow" href="/">Fab13</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
     <div id="navbar" class="navbar-collapse collapse">
     
      <ul class="nav navbar-nav navbar-left">
        <li class="link-grow"><a class="nav-link cierra" href="/#about">About</a></li>
        <li class="link-grow"><a class="nav-link cierra" href="/#speakers">Speakers</a></li>
        <li class="dropdown">
          <a  href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/travel">All</a></li>
            <li><a href="/travel#travel-hotels">Hotels</a></li>
            <li><a href="/travel#travel-tours">Tours</a></li>
            <li><a href="/travel#travel-restaurants">Restaurants</a></li>
            <li><a href="/travel#invitation-letters">Visa Invitation Letters</a></li>
            <li><a href="/travel#visas">Visa Requirements</a></li>
            <li><a href="/travel#transport">Transport</a></li>
            <li><a href="/travel#customs">Customs</a></li>
            <li><a href="/travel#discover-chile">Discover Chile</a></li>
            <li><a href="/travel#other-links">Useful Links</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Program <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/conference">Conference</a></li>
            <li><a href="/symposium">Symposium</a></li>
            <li><a href="/festival">Festival</a></li>
            <li><a href="https://fab13.sched.com/overview/type/Workshops" target="_blank" >Workshops</a></li>
            <li><a href="/challenge">Fab 13 Challenge</a></li>
            <li><a href="/schedule">Schedule></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="link-grow"><a class="nav-link cierra" href="https://fab13.sched.com/overview/type/Working+Groups+%26+Theoretical+Workshops" target="_blank">Working Groups</a></li>
        <li class="link-grow"><a class="nav-link cierra" href="/#venues">Venues</a></li>
        <li class="link-grow"><a class="nav-link cierra" href="/#tickets">Tickets</a></li>
        <li class="link-grow"><a class="nav-link cierra" href="/#footer">Contact</a></li>
        <li class="link-grow"><a class="nav-link cierra" href="/cast"><img class="flag" src="/img/elements/chile.PNG"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar-container -->
</nav>
