<!--Page Header-->

<div id="subpage-header" class="parallax__group">
  <div class="parallax__layer parallax__layer--base">
    <div class="subpage-banner" style="background-image: url(..{{ page.header-img }}); background-color: #{{ page.bg-color }};">
      <div class="container subpage-container">
        <div class="row row-page row-symposium">
          <div class="col-lg-12 text-center">
            <h3 class="subpage-title" style="color: #fafafa">{{ page.title }}</h3>
          </div>
          <div class="col-lg-12 text-center">
            <p class="subpage-subtitle">{{ page.subtitle }}</p>
            <p class="subpage-entry">{{ page.intro }}</p>
            <div class="row text-center" style="padding-top:15px; padding-bottom: 40px;">
                <a class="btn link-grow" href="{{ page.button-link }}">{{ page.button-text }}</a> 
            </div>
          </div><!--col-->
        </div><!--row-symposium-->
      </div><!--container-->
    </div> <!--subpage-banner-->
  </div> <!--layer--base-->

  <div class="parallax__layer parallax__layer--back text-center">
    <div class="subpage-bg" style="background-image: url(..{{ page.photo }});"></div>
  </div> <!--layer-back-->

  <div class="parallax__layer parallax__layer--base">
    <div class="col-sm-12 col-md-12" style="background-color: #{{ page.bg-color }};">
      <div class="container text-center">
        <div class="row row-page" style="padding: 50px 0px 50px 0px;">
          <div class="col-lg-12 text-center" id="subpage-desc">
            <p> {{ page.description }}</p>
          </div>
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--col-->
  </div> <!--layer--base-->


</div> <!--symposium-header-->













