<!-- Partners Logos  -->
<aside class="clients">  
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="https://ec.europa.eu/programmes/creative-europe/" target="_blank">
                    <img src="img/logos/eu-black.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;"> 
                <a href="http://www.fablabbcn.org" target="_blank">
                    <img src="img/logos/fablab.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
                
            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="http://www.ensci.com" target="_blank">
                    <img src="img/logos/ensci-black.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 

            <div class="col-md-3 col-sm-12" style="background: #ffffff; height:150px;">
                <a href="http://www.plymouthart.ac.uk" target="_blank">
                    <img src="img/logos/PCA.png" class="img-responsive img-centered"  alt="">
                </a>
            </div> 
        </div>

    </div>    
</aside>
