<!-- Partners Logos  -->
<section id="partners" style="padding-top: 0px;">
    <div id="group11" class="parallax__group" style="height: 100px;">
        <aside class="clients">  
            <div class="container">
                <div class="row">
                    <!--
                    <div class="col-md-12 text-center">
                       <h4>Hosted by</h4>
                    </div>
                -->
                    <div class="col-md-3 col-sm-3 col-xs-6" style="height: 150px;">
                        <a href="http://fablabsantiago.org/" target="_blank">
                            <img src="img/logos/fablabsantiago-horizontal.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                        
                    <div class="col-md-3 col-sm-3 col-xs-6"  style="height: 150px;"> 
                        <a href="http://diseno.uc.cl/" target="_blank">
                            <img src="img/logos/diseno_uc_web.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                        
                    <div class="col-md-3 col-sm-3 col-xs-6"  style="height: 150px;">
                        <a href="http://www.fabfoundation.org/" target="_blank">
                            <img src="img/logos/fabfoundation.svg" class="img-responsive img-centered"  alt="">
                        </a>
                    </div> 

                    <div class="col-md-3 col-sm-3 col-xs-6" style="height: 150px;">
                        <a href="http://cba.mit.edu/" target="_blank">
                            <img src="img/logos/CBAlogo.png" class="img-responsive img-centered"  alt="">
                        </a>
                    </div> 
                </div><!--row-->
            </div><!--container-->   
        </aside>
    </div><!--parallax-group-->
</section>