<!--Planner -->

<div class="cd-schedule loading">
  <div class="timeline">
    <ul>
      <li><span>08:00</span></li>
      <li><span>08:30</span></li>
      <li><span>09:00</span></li>
      <li><span>09:30</span></li>
      <li><span>10:00</span></li>
      <li><span>10:30</span></li>
      <li><span>11:00</span></li>
      <li><span>11:30</span></li>
      <li><span>12:00</span></li>
      <li><span>12:30</span></li>
      <li><span>13:00</span></li>
      <li><span>13:30</span></li>
      <li><span>14:00</span></li>
      <li><span>14:30</span></li>
      <li><span>15:00</span></li>
      <li><span>15:30</span></li>
      <li><span>16:00</span></li>
      <li><span>16:30</span></li>
      <li><span>17:00</span></li>
      <li><span>17:30</span></li>
      <li><span>18:00</span></li>
      <li><span>18:30</span></li>
      <li><span>19:00</span></li>
      <li><span>19:30</span></li>
      <li><span>20:00</span></li>
      <li><span>20:30</span></li>
      <li><span>21:00</span></li>
      <li><span>21:30</span></li>
      <li><span>22:00</span></li>
    </ul>
  </div> <!-- .timeline -->

  <div class="events">
    <ul>
      <li class="events-group">
        <div class="top-info"><span>Jul31</span></div>

        <ul>
          <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Conference Registration</em>
            </a>
          </li>

          <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Opening Ceremony and News: Sherry Lassiter - Fab Foundation</em>
            </a>
          </li>

          <li class="single-event" data-start="11:30" data-end="12:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Pitches for Fab15!</em>
            </a>
          </li>

          <li class="single-event" data-start="14:30" data-end="15:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Working Groups Kick Off!</em>
            </a>
          </li>

          <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Coffee / Working Groups Networking</em>
            </a>
          </li>

          <li class="single-event" data-start="16:30" data-end="17:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Inaugural Speech</em>
            </a>
          </li>

          <li class="single-event" data-start="17:30" data-end="18:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Show: Bafona</em>
            </a>
          </li>

          <li class="single-event" data-start="18:00" data-end="20:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Opening Cocktail</em>
            </a>
          </li>

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug1</span></div>

        <ul>
          <li class="single-event" data-start="08:00" data-end="09:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Conference Registration</em>
            </a>
          </li>

          <li class="single-event" data-start="09:15" data-end="10:15" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Cities: Towards a liquid distribution</em>
            </a>
          </li>

          <li class="single-event" data-start="10:20" data-end="11:20" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Education: How do we envision the future of education</em>
            </a>
          </li>


          <li class="single-event" data-start="11:45" data-end="12:45" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Decentralization: Mobile Fab Labs and Emergency Solutions</em>
            </a>
          </li>

          <li class="single-event exception" data-start="12:50" data-end="13:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Afternoon Announcements</em>
            </a>
          </li>

          <li class="single-event" data-start="14:30" data-end="18:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Working Groups and Theoretical Workshops &#8725; Workshops</em>
            </a>
          </li>

          <li class="single-event" data-start="18:30" data-end="23:00" data-content="event-abs-circuit" data-event="event-5">
            <a href="/conference">
              <em class="event-name">Super Fab Lab Open for Challenge until 23:00</em>
            </a>
          </li>

          <li class="single-event" data-start="19:30" data-end="21:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">La Mision cocktail- First 250 pp get a free drink!</em>
            </a>
          </li>

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug2</span></div>

        <ul>
          <li class="single-event" data-start="08:00" data-end="09:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Conference Registration</em>
            </a>
          </li>

          <li class="single-event" data-start="09:15" data-end="10:15" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Expanding Education in the Fab Lab Network</em>
            </a>
          </li>

          <li class="single-event" data-start="10:20" data-end="11:20" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Expanding Education in the Fab Lab Network</em>
            </a>
          </li>


          <li class="single-event" data-start="10:20" data-end="11:20" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Open Mic</em>
            </a>
          </li>

          <li class="single-event" data-start="11:45" data-end="12:45" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Making New Economies</em>
            </a>
          </li>

          <li class="single-event exception" data-start="12:50" data-end="13:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Afternoon Announcements</em>
            </a>
          </li>

          <li class="single-event" data-start="14:30" data-end="18:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Working Groups and Theoretical Workshops &#8725; Workshops </em>
            </a>
          </li>

          <li class="single-event" data-start="18:30" data-end="23:00" data-content="event-abs-circuit" data-event="event-5">
            <a href="/conference">
              <em class="event-name">Super Fab Lab Open for Challenge until 23:00</em>
            </a>
          </li>


          <li class="single-event" data-start="19:00" data-end="20:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Graduation Ceremony</em>
            </a>
          </li>

          <li class="single-event" data-start="20:00" data-end="22:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Chilean Barbeque "Asado"</em>
            </a>
          </li>



        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug3</span></div>

        <ul>
          <li class="single-event" data-start="08:00" data-end="09:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Conference Registration</em>
            </a>
          </li>
          
          <li class="single-event" data-start="09:15" data-end="10:15" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Prototyping a Sustainable Future</em>
            </a>
          </li>

          <li class="single-event" data-start="10:20" data-end="11:20" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Design Material Systems</em>
            </a>
          </li>

          <li class="single-event" data-start="11:45" data-end="12:45" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Distributed Design</em>
            </a>
          </li>

          <li class="single-event exception" data-start="12:50" data-end="13:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Afternoon Announcements</em>
            </a>
          </li>

          <li class="single-event" data-start="14:30" data-end="18:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Working Groups and Theoretical Workshops &#8725; Workshops</em>
            </a>
          </li>

<!--           <li class="single-event" data-start="19:30" data-end="21:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="/conference">
              <em class="event-name">Free night: Chipe Libre Republica Independiente del Pisco</em>
            </a>
          </li> -->

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug4</span></div>

        <ul>
          <li class="single-event exception" data-start="08:00" data-end="08:30" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">Registration</em>
            </a>
          </li>

          <li class="single-event exception" data-start="08:30" data-end="08:45" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">Symposium Welcome</em>
            </a>
          </li>

          <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">How to (almost) Make Anything: Science and Technology</em>
            </a>
          </li>

          <li class="single-event" data-start="14:00" data-end="15:30" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">Designing and Making Meaning: Purpose and Impact</em>
            </a>
          </li>

          <li class="single-event" data-start="16:00" data-end="17:30" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">Enabling Ecosystems: Collaboration and Distribution</em>
            </a>
          </li>
          <li class="single-event exception" data-start="17:30" data-end="19:00" data-content="event-rowing-workout" data-event="event-3">
            <a href="/symposium">
              <em class="event-name">Conclusion / Fab City Commitments / Fab Academy Highlights</em>
            </a>
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug5</span></div>
        <ul>
          <li class="single-event" data-start="09:30" data-end="10:00"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Fab Festival</em>
            </a>
          </li>

          <li class="single-event" data-start="10:00" data-end="14:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Kids Workshops</em>
          </a>
          </li>

          <li class="single-event" data-start="14:00" data-end="18:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Panels + Kids Workshops</em>
          </a>
          </li>

          <li class="single-event" data-start="18:00" data-end="19:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">FabxTalks</em>
          </a>
          </li>

          <li class="single-event" data-start="19:00" data-end="21:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Fashion Show</em>
          </a>
          </li>

      </ul>
    </li>

    <li class="events-group">
      <div class="top-info"><span>Aug6</span></div>
      <ul>
        <li class="single-event" data-start="09:30" data-end="10:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Fab Festival</em>
          </a>

        </li>
          <li class="single-event" data-start="10:00" data-end="14:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Kids Workshops</em>
          </a>
          </li>

          <li class="single-event" data-start="14:00" data-end="17:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Panels + Kids Workshops</em>
          </a>
          </li>

          <li class="single-event" data-start="17:00" data-end="18:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">FabxTalks</em>
          </a>
          </li>

          <li class="single-event" data-start="18:00" data-end="18:45"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Cinestesia Robot Dance</em>
          </a>
          </li>

          <li class="single-event exception" data-start="18:45" data-end="19:00"  data-content="event-rowing-workout" data-event="event-2">
          <a href="#0">
            <em class="event-name">Closing Ceremony</em>
          </a>
          </li>
      </ul>
    </li>

  </ul>
</div>

<div class="event-modal">
  <header class="header">
    <div class="content">
      <span class="event-date"></span>
      <h3 class="event-name"></h3>
    </div>
    <div class="header-bg"></div>
  </header>
  <div class="body">
    <div class="event-info"></div>
    <div class="body-bg"></div>
  </div>
  <a href="#0" class="close">Close</a>
</div>

<div class="cover-layer"></div>


</div> <!-- .cd-schedule -->