<!-- About Section -->
<section id="roadmap">
    <div class="container">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Fab City road map</h2>
                <h4 class="section-subheading text-muted">A long term challenge based in short term actions</h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 40px;">
            <div class="col-lg-12">
                <ul class="timeline">


                         <!-- Fab 7  -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <a href="http://cba.mit.edu/events/11.08.FAB7/" target="_blank"> <img class="img-circle img-responsive" src="img/about/7.png" alt="Fab 7"> </a>
                           </div>
                           <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011</h4>
                                <a href="http://www.fab11.org/" target="_blank">  <h4 class="subheading">Fab7 International Conference</h4> </a>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>
                                        <p class="text-muted">The Fab City project is launched by the Institut d’Arquitectura Avançada de Catalunya, the MIT Center for Bits and Atoms, the Fab Foundation and the Barcelona City Council.</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <!--Fab 10  -->
                    <li>
                        <div class="timeline-image">
                            <a href ="https://www.fab10.org/" target="_blank"><img class="img-circle img-responsive" src="img/about/3.jpg" alt="Fab 10"></a>
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                               <h4>2014</h4>
                               <a href ="https://www.fab10.org/" target="_blank"> <h4 class="subheading">FAB10 International Fab Lab Conference<br /> "From Fab Labs to Fab Cities" </h4> </a>
                           </div>        
                           <div class="timeline-body">
                            <ul>
                                <li>
                                    <p class="text-muted">  Barcelona launches officially the FAB City project</p>
                                </li>
                                <li>
                                    <p class="text-muted">Mayor Trias commit to the 40 year challenge</p>
                                </li>
                                <li>
                                    <p class="text-muted">The first public network of Fab Labs in a city is launched</p>
                                </li>                
                            </ul>
                        </div>
                    </div>
                </li>


                <!-- Fab 11  -->
                <li class="timeline-inverted">
                    <div class="timeline-image">
                       <a href="http://www.fab11.org/" target="_blank"> <img class="img-circle img-responsive" src="img/about/2.jpg" alt="Fab 11"> </a>
                   </div>
                   <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015</h4>
                        <a href="http://www.fab11.org/" target="_blank">  <h4 class="subheading">FAB11 International Fab Lab Conference</h4> </a>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>
                                <p class="text-muted">The Fab City becomes a global initiative</p>
                            </li>
                            <li> 
                                <p class="text-muted">The cities of Boston, Ekurhuleni, Cambridge, Shenzhen, Somerville join</p>
                            </li>
                            <li>
                                <p class="text-muted">The state of Kerala (India) joins</p>
                            </li>
                            <li>
                                <p class="text-muted">The country of Georgia joins</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>



            <!-- Amesterdam  -->
            <li>
                <div class="timeline-image">
                  <a href="http://europebypeople.nl/update/fab-city-campus" target="_blank">  <img class="img-circle img-responsive" src="img/about/4.png" alt="Fab City Campus"> </a>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2016</h4>
                    <a href="http://europebypeople.nl/update/fab-city-campus" target="_blank">  <h4 class="subheading">Amsterdam</h4> </a>
                </div>
                <div class="timeline-body">
                    <ul>
                        <li>
                            <p class="text-muted">Amsterdam and The Netherlands host the presidency of the European Union</p>
                        </li>
                        <li>
                            <p class="text-muted"> The first Fab City experts summit </p>
                        </li>
                        <li>
                            <p class="text-muted">The City of Amsterdam will commit to the Fab City global initiative </p>
                        </li>
                        <li>
                            <p class="text-muted">The Fab City global agenda will be shaped</p>
                        </li>
                    </ul>
                </div>
            </div>
        </li>


        <!-- Barcelona  -->
        <li class="timeline-inverted">
            <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2016</h4>
                    <h4 class="subheading">Barcelona</h4>
                </div>
                <div class="timeline-body">
                    <ul>
                        <li>
                            <p class="text-muted">Advanced Manufacturing for productive cities event</p>
                        </li>
                        <li>
                            <p class="text-muted">Barcelona hosts the Fab City meeting with large industries on advanced manufacturing</p>
                        </li>

                    </ul>
                </div>
            </div>
        </li>



        <!-- Shenzhen -->
        <li>
            <div class="timeline-image">
             <a href="http://fab12.fablabcon.net/" target="_blank"> <img class="img-circle img-responsive" src="img/about/6.png" alt="Fab 12 Shenzhen"> </a>
         </div>
         <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>2016</h4>
                <a href="http://fab12.fablabcon.net/" target="_blank"><h4 class="subheading">Shenzhen</h4> </a>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>
                        <p class="text-muted">12th International Fab Lab Conference</p>
                    </li>
                    <li>
                        <p class="text-muted">More cities will join the Fab City global initiative</p>
                    </li>
                </ul>    
            </div>
        </div>
    </li>




    <!-- 2054 Self Sufficient Cities -->
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="img/about/fabcity.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>2054</h4>
                <h4 class="subheading">Self-sufficient cities</h4>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>
                        <p class="text-muted"> Cities produce at least 50% of what they consume</p>
                    </li>
                    <li>
                        <p class="text-muted">A global repository of open source designs for city solutions</p>
                    </li>
                    <li>
                        <p class="text-muted"> Materials are source locally through recycling and digital materials</p>
                    </li>
                </ul>
            </div>
        </div>
    </li>





</ul>
</div>
</div>
</div>
</section>













