<!-- Schedule section-->

<div id="schedule" class="parallax__group">

  <div class="parallax__layer parallax__layer--back text-center">
      <img class="bg-responsive" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


  <div class="parallax__layer parallax__layer--base">
    	<div class="container section-content">
	    	<div class="row" style="padding-bottom: 50px;">
	      		<h3 class="section-title"> Schedule </h3>
	  			<div style="background-color: #1d3557;">
	  				<div class="row text-center">
	  					<img src="/img/schedule/schedule-icon.svg"/ style="height: 80px; margin-top: 60px;">
	  				</div>
			      	<div class="row text-center" style="padding-top:25px;">
						<a class="btn link-grow" href="https://fab13.sched.com/" target="_blank">See full schedule &#8599;</a>
					</div>
			      	<div class="row text-center" style="padding-top:25px;">
						<p style="color: white; padding-right: 5px; padding-left: 5px; ">Check the full Fab13 schedule on our web and mobile app. </br> Make your own schedule, register for workshops and follow your favourite speakers and atendees! </p>
					</div>
					<div class="row text-center">
						<p style="color: #eb5f69; size: 12px ; padding-bottom: 40px; padding-right: 10px; padding-left: 10px; ">To register for workshops make sure you create a user on the webapp and mark the selected workshop as "attending"!</p>
					</div>

	    		</div>
		    </div>
		    <div class="row">
		    	{% include planner.html %}
		    </div>
    	</div> 
  	</div><!--layer--base-->

</div><!--parallax-group-->

