<!-- Schedule section-->

<div id="schedule" class="parallax__group">

	<div class="parallax__layer parallax__layer--back text-center">
		<img class="bg-responsive" src="/img/backgrounds/color-top-navy.svg"/>
	</div>


	<div class="parallax__layer parallax__layer--base">
		<div class="container section-content" id="symposium-schedule">
			<h3 class="section-title"> Schedule </h3>
			<ul class="horario">
			<li class="fecha">
				<h3>Aug 4</h3>
				<p>Schedule of Events</p>
			</li>
			{% for event in site.data.symposium-agenda.events %}
				<li class= "eventos">
					<ul class="eventos-detail">
						<li>
<!-- 							<a data-toggle="modal" data-target="#symposium-event">
 -->							<span class="evento-time">{{ event.start }} - {{ event.end }}  </span>
								<span class="evento-name">{{ event.name }}</span>
								<br />
								<span class="evento-location">{{ event.venue }}</span>
<!-- 							</a>
 -->						</li>
					</ul><!--eventos-detail-->
				</li><!--Eventos-->
			{% endfor %}
			</ul> <!--horaio-->
		</div> <!--container -->
	</div><!--layer-base-->

</div><!--parallax-group-->

