<!-- Schedule section-->

<div id="schedule" class="parallax__group">

  <div class="parallax__layer parallax__layer--back text-center">
      <img class="bg-responsive" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


 
  <div class="parallax__layer parallax__layer--base">
    	<div class="container section-content">
	    	<div class="row" style="padding-bottom: 50px;">
	      		<h3 class="section-title"> Agenda </h3>
	  			<div style="background-color: #1d3557;">
	  				<div class="row text-center">
	  					<img src="/img/schedule/schedule-icon.svg"/ style="height: 80px; margin-top: 60px;">
	  				</div>
			      	<div class="row text-center" style="padding-top:25px;">
						<a class="btn link-grow" href="https://fab13.sched.com/" target="_blank">Ver agenda completa &#8599;</a>
					</div>
					<div class="row text-center" style="padding-top:25px;">
						<p style="color: white; padding-right: 5px; padding-left: 5px; ">Revisa la agenda completa de Fab13 en nuestra web o móvil app.</br> Haz tu propia agenda, regístrate para los workshops y sigue a participantes y speakers favoritos! </p>
					</div>
					<div class="row text-center">
						<p style="color: #eb5f69; size:12px; padding-bottom: 40px; padding-right: 5px; padding-left: 5px; ">Para registrarte en los workshops asegúrate de crear un usuario en nuestra webapp y marcar el workshop seleccionado como "Attending"!</p>
					</div>
	    		</div>
		    </div>
		    <div class="row">
		    	{% include planner.html %}
		    </div>
    	</div> 
  	</div><!--layer--base--> 

</div><!--parallax-group-->

