<!-- Schedule section-->
<section id="schedule">
  <div id="group8" class="parallax__group">

    <div class="parallax__layer parallax__layer--back text-center">
        <img class="bg-responsive" src="/img/backgrounds/color-top-red.svg"/>
    </div>


    <div class="parallax__layer parallax__layer--base">
      <div class="container">
        <h3 class="text-center" style="padding-bottom: 50px;"> Schedule </h3>
           {% include planner.html %}
      </div> 
    </div>

  </div><!--parallax group-->
</section>
