<!-- Schedule section-->

<div id="schedule-conference" class="parallax__group">

	<div class="parallax__layer parallax__layer--back text-center">
		<img class="bg-responsive" src="/img/backgrounds/color-top-gray.svg"/>
	</div>


	<div class="parallax__layer parallax__layer--base">
		<div class="container section-content" id="symposium-schedule">
			<h3 class="section-title"> Cnference Schedule </h3>
		
			<div class="col-md-12">
			<a id="sched-embed" data-sched-sidebar="no" href="https://fab13.sched.com/venue/Centro%20de%20Extension%20Universidad%20Catolica/O%27Higgins%2C+Av+Libertador+Bernardo+O%27Higgins+390%2C+Santiago%2C+Regi%C3%B3n+Metropolitana">View the FAB13 mobile app</a><script type="text/javascript" src="http://fab13.sched.com/js/embed.js"></script>
			</div>

			<div class="row text-center" style="padding-top:15px; padding-bottom: 40px;">
                <a class="btn link-grow" target="_blank" href="https://fab13.sched.com/">Full Schedule</a> 
            </div>
		</div> <!--container -->
	</div><!--layer-base-->

</div><!--parallax-group-->

