<!-- Speakers section -->


<section>

  <div class="container">
    <div class="row">
      <h1>Speakers </h1>
      
      <div class="expandable-boxes">

          <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
             <h2>Box 1</h2>
             <p>This is the first box on the page.</p>
          </div>

        
        <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
           <h2>Box 2</h2>
          <p>This is the next box on the page.</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
           <h2>Box 3</h2>
          <p>Here is another box.</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
           <h2>Box 4</h2>
          <p>Now we have a box on the next row.</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
           <h2>Box 5</h2>
          <p>This is a box again.</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 expandable-box">
           <h2>Box 6</h2>
          <p>Would you believe that this is a box?</p>
        </div>  
      </div>

    </div>
  </div>

</section>

<!-- 
<section>

	<div class="container">
  <h1>Expandable Boxes With CSS Transitions</h1>
  
  <div class="expandable-boxes">
     <div class="expandable-box">
       <h2>Box 1</h2>
       <p>This is the first box on the page.</p>
    </div>
    
    <div class="expandable-box">
       <h2>Box 2</h2>
      <p>This is the next box on the page.</p>
    </div>
    
    <div class="expandable-box">
       <h2>Box 3</h2>
      <p>Here is another box.</p>
    </div>
    
    <div class="expandable-box">
       <h2>Box 4</h2>
      <p>Now we have a box on the next row.</p>
    </div>
    
    <div class="expandable-box">
       <h2>Box 5</h2>
      <p>This is a box again.</p>
    </div>
    
    <div class="expandable-box">
       <h2>Box 6</h2>
      <p>Would you believe that this is a box?</p>
    </div>
  </div>
</div>


</section>
 -->




