<!-- Speakers section -->

  <div id="speakers-symposium" class="parallax__group" style="padding-bottom:0px;">

    <div class="parallax__layer parallax__layer--back text-center">
        <img class="bg-responsive" src="/img/backgrounds/color-top-short.svg"/>
    </div>
    
    <div class="parallax__layer parallax__layer--base">
      <div class="container section-content">

      <!--MODERATORS-->
        <div class="row text-center">
          <h3 class="section-title" style="padding-bottom: 18px; padding-bottom: 25px; ">SPEAKERS</h3>
          <p style="padding-bottom: 30px; font-size: 17px;">Check out this year's participants: </p>
        </div>
        <div class="row text-center">
          <h4 class="section-subtitle">Moderators </h4>
        </div>
        <div class="row text-center">
            {% for speaker in site.data.speakers %} 
              {% if speaker.role == "moderator" %}
                  <a href="{{ speaker.url }}" target="_blank">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center speaker-box box-grow">
                      <div class="imgs-speaker" style= "background-image: url(../img/speakers/{{ speaker.img }});"> </div>  
                      <h4>{{ speaker.name }}</h4>
                      <p class="speakerbio">{{ speaker.bio }}</p>
                    </div>
                 </a>
              {% endif %}
            {% endfor %}
        </div>  <!--row-->

        <!--sPEAKERS-->
        <div class="row text-center">
          <h4 class="section-subtitle">Speakers </h4>
        </div>
        <div class="row text-center">
            {% for speaker in site.data.speakers %} 
              {% if speaker.role == "speaker" %}
                  <a href="{{ speaker.url }}" target="_blank">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center speaker-box box-grow">
                      <div class="imgs-speaker" style= "background-image: url(../img/speakers/{{ speaker.img }});"> </div>  
                      <h4>{{ speaker.name }}</h4>
                      <p class="speakerbio">{{ speaker.bio }}</p>
                    </div>
                 </a>
              {% endif %}
            {% endfor %}
        </div>  <!--row-->
      </div> <!--container-->
    </div> <!--layer base-->
  </div>  <!--parallax__group-->