<!-- Sponsor Logos  -->

<div id="sponsors" class="parallax__group">
    <div class="parallax__layer parallax__layer--back text-center">
        <img class="bg-responsive" src="/img/backgrounds/color-top-gray.svg"/>
    </div>
    <div class="parallax__layer parallax__layer--base">
        <aside class="">  
            <div class="container section-content">
                

                <div class="row text-center sponsor-row" style="padding-bottom: 60px;">  
                    <a href="https://www.flickr.com/photos/153999936@N06/albums/with/72157687955059145" target="_blank"> 
                        <div class="col-md-12 become-sponsor box-grow">
                            <h4 class="sponsor-input">&#43; PHOTO MEMORIES FAB13</h4>
                        </div> 
                    </a>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="sectio-titlen">Sponsors</h3>
                    </div>
                </div>

                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold">Hosted by</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'organizer' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                               <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>


                <div class="row sponsor-row">
                    <div class="col-md-12 text-center">
                       <p class="text-muted bold sponsor-row">Sponsored by</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'sponsor' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                               <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div><!--row-->


                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold sponsor-row">Government</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'government' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                                <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold sponsor-row">Supported by</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'supporter' %}
                            <a href="{{ sponsor.url }}" target="_blank">
                                <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold sponsor-row">Media partners</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'media' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                                <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold sponsor-row">Hosting Labs</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'lab' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                                <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row text-center sponsor-row">
                    <div class="col-md-12">
                       <p class="text-muted bold sponsor-row">Partner Restaurants</p>
                    </div>
                    {% for sponsor in site.data.sponsors %}
                        {% if sponsor.role == 'restaurant' %}
                           <a href="{{ sponsor.url }}" target="_blank">
                                <div class="col-xs-4 col-sm-2 col-md-2 sponsor-div link-grow">
                                    <img class="sponsor-img" src="/img/logos/{{ sponsor.img }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div><!--container-->   
        </aside>
    </div> <!-- layer base -->
</div><!--parallax-group-->