
<!--Subscribe Module -->

<section id="newsletter" style="padding: 0px 0px;">
	<div id="group10" class="parallax__group" style="height: 200px;">

		<div class="parallax__layer parallax__layer--base bg-img" style="background-color: #FAFBF9; background-image: url(../img/backgrounds/particles-newsletter.svg);">
			<div class="container">
				<div class="row" style="padding-top:70px;">

					<div class="col-xs-12 col-sm-8 col-md-8">
						<p style="float: left; padding-top:19px; font-weight:700;">Subscribe here to receive important information about Fab13!</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 text-center">
						<a style="" class="btn link-grow" data-toggle="modal" data-target="#subscribe">Keep me updated</a>
					</div>
				</div><!--row-->
			</div> <!--container-->
		</div><!--layer-base-->

	</div><!--group-->	
</section>