<!--Symposium Individual Page-->

<div id="subpage-header" class="parallax__group">
  <div class="parallax__layer parallax__layer--base">
    <div class="subpage-banner" style="background-image: url(../img/symposium/{{ site.data.symposium.intro.img }});">
      <div class="container subpage-container">
        <div class="row row-page row-symposium">
          <div class="col-lg-12 text-center">
            <h3 class="subpage-title">{{ site.data.symposium.intro.title }}</h3>
          </div>
          <div class="col-lg-12 text-center">
            <p class="subpage-subtitle">{{ site.data.symposium.intro.subtitle }}</p>
            <p class="subpage-entry">{{ site.data.symposium.intro.entry }}</p>
            <!--
            <div class="row text-center" style="padding-top:15px; padding-bottom: 40px;">
                <a class="btn link-grow" href="/symposium#symposium-schedule">{{ site.data.symposium.intro.button }}</a> 
            </div>-->
            <div class="row text-center" style="padding-top:15px; padding-bottom: 40px;">
                <a class="btn link-grow" href="/symposium#schedule-symposium">Schedule</a> 
            </div>
          </div><!--col-->
        </div><!--row-symposium-->
      </div><!--container-->
    </div> <!--subpage-banner-->
  </div> <!--layer--base-->

  <div class="parallax__layer parallax__layer--back text-center">
    <div class="subpage-bg" style="background-image: url(../img/symposium/{{ site.data.symposium.intro.background }});"></div>
  </div> <!--layer-back-->

  <div class="parallax__layer parallax__layer--base">
    <div class="col-sm-12 col-md-12" style="background-color: #1d3557">
      <div class="container text-center">
        <div class="row row-page" style="padding: 50px 0px 50px 0px;">
          <div class="col-lg-12 text-center" id="subpage-desc">
            <p> {{ site.data.symposium.intro.p1 }}</p><br>
            <p> {{ site.data.symposium.intro.p2 }}</p><br>
            <p> {{ site.data.symposium.intro.p3 }}</p><br>
          </div>
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--col-->
  </div> <!--layer--base-->


</div> <!--symposium-header-->













