<!-- Symposium section -->
<section id="symposium">
  <div id="group5" class="parallax__group">

    <div class="parallax__layer parallax__layer--back">   
    </div>
    
    <div class="parallax__layer parallax__layer--base">
      <div class="container">
        <div class="row text-center">
          <h3>FAB13 SYMPOSIUM</h3>
        </div>
        <div class="row text-center">
            {% for speaker in site.data.speakers %} 
              <a href="#speakersModal{{ speaker.modalid }}" class"=portfolio-link" data-toggle="modal">
                <div class="col-xs-12 col-sm-4 col-md-4 text-center box-grow">
                  <div class="imgs-speaker" style= "background-image: url(..{{ speaker.img }});"> </div>
                  <h4>{{ speaker.name }}</h4>
                  <p>{{ speaker.bio }}</p>
                </div>
              </a>
            {% endfor %}
        </div>  
      </div> <!--container-->
    </div> <!--layer base-->

  </div>  <!--group5-->
</section>