<!-- Symposium section -->
  <div id="group5" class="parallax__group">

    <div class="parallax__layer parallax__layer--deep">
      <img class="bg-responsive" src="/img/backgrounds/particles-medium.svg">
    </div> 

    <div class="parallax__layer parallax__layer--back text-center">
        <img class="bg-responsive group-top" src="/img/backgrounds/color-top-short.svg"/>
    </div>
    
    <div class="parallax__layer parallax__layer--base">
      <div class="container group-top">
        <div class="row text-center">
          <h3 class="section-title" style="padding-bottom: 30px;">SPEAKERS</h3>
          <p style="padding-bottom: 30px;"><b>To be announced!</b> Check out some of our past events guest speakers: </p>
        </div>
        <div class="row text-center">
            {% for speaker in site.data.speakers %} 
              <!--<a href="#speakersModal{{ speaker.modalid }}" class"=portfolio-link" data-toggle="modal">-->
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                  <div class="imgs-speaker" style= "background-image: url(../img/speakers/{{ speaker.img }});"> </div>
                  <h4>{{ speaker.name }}</h4>
                  <p>{{ speaker.bio }}</p>
                </div>
             <!-- </a>-->
            {% endfor %}
        </div>  

      </div> <!--container-->
    </div> <!--layer base-->
  </div>  <!--group5-->