<!--Ticket sale embed -->

<div id="tickets" class="parallax__group" style="padding-bottom: 70px;">
	<div class="parallax__layer parallax__layer--back text-center">
		<img class="bg-responsive" src="/img/backgrounds/color-top-gray.svg"/>
	</div>
	<div class="parallax__layer parallax__layer--base">
		<div class="container section-content">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="section-title">Entradas</h3>
				</div>
			</div>

			<div class="tab-modules">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#full-event-ticket">Full Event Ticket</a></li>
					<li><a data-toggle="tab" href="#symposium-ticket">Symposium Ticket</a></li>
				</ul>

				<div class="tab-content">
					<div id="full-event-ticket" class="tab-pane fade in active">
						<div id="welcu_embed_sale_1253012758" class="welcu_embed">
							<center><img src="https://assets.welcu.com/images/loading.gif" width="50" height="50"></center>
						</div>
						<div class="row">
							<div class="col-lg-12 text-right" style="padding-top: 20px;">
								<a class="bold" href="https://welcu.com/fab-lab-santiago/fab13" target="_blank">Comprar en Welcu &#62;</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-left">
								<p class="bold">Su entrada incluye:</p>
								<ul class="bullet-list">
									<li>2 'cofee breaks' diarios, y menú de almuerzo durante toda la semana del evento.</li>
									<li>Entrada de Lunes a Jueves a la Conferencia Fab13 en el Centro de Extemsión de la UC, donde en la mañana podrá asistir a actividades, charlas, y conversaciones en temas relevantes como ciudad, decentralización, educación del futuro, nuevas economías y futuros sostenibles entre otros temas. </li>
									<li>En la tarde de Lunes a Jueves hpodrá atender Workshops ofrecidos por miembros de la red global Fab Lab. </li>
									<li>Ceremonia de Apertura y Recepción de Claudura</li>
									<li>Recepción en el Campus Lo Contador el Miércoles 3 de agosto, donde todos los asistentes podrán disfrutar de una típico asado chileno.   </li>
									<li>Entrada al Symposio en el Teatro Corpartes, donde una serie de conferencias y conversaciones de talla mundial serán llevadas a cabo. </li>
									<li>Ceremonia y recepción de clausura de Fab13 en el castillo Hidalgo el viernes a las 7:00 p.m. </li>
								</ul>
							</div>
						</div>
					</div><!--full-event-ticket-->

					<div id="symposium-ticket" class="tab-pane fade">
						<div id="welcu_embed_sale_1640316631" class="welcu_embed">
							<center><img src="https://assets.welcu.com/images/loading.gif" width="50" height="50"></center>
						</div>
					</div><!--symposium-ticket-->
				</div><!---tab-content-->
			</div><!--tab-modules-->
		</div><!--container-->
	</div><!--layer-base-->
</div>	<!--tickets-->


<script type="text/javascript" charset="utf-8">
	(function() {
		var embed = document.createElement('script'); embed.type = 'text/javascript'; embed.async = true;
		embed.src = "https://welcu.com/fab-lab-santiago/fab13/sales/005c7523.embed?locale=es";
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(embed, s);
	})();
</script>

<script type="text/javascript" charset="utf-8">
(function() {
    var embed = document.createElement('script'); embed.type = 'text/javascript'; embed.async = true;
    embed.src = "https://welcu.com/fab-lab-santiago/simposio-fab13-santiago/sales/37e484ea.embed?locale=es";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(embed, s);
  })();
</script>
                          
