<!-- Schedule section-->
<section id="schedule" style="padding-bottom: 150px; padding-top: 150px;">

<!-- Planner schedule option -->

  <div class="container">
   <!-- <h1> Schedule </h1> -->
  </div>
  <div id="exTab1" class="container"> 

    <ul  class="nav nav-pills">
      <li class="active">
        <a  href="#1a" data-toggle="tab">Jul 31</a>
      </li>
      <li><a href="#2a" data-toggle="tab">Aug 1</a>
      </li>
      <li><a href="#3a" data-toggle="tab">Aug 2</a>
      </li>
      <li><a href="#4a" data-toggle="tab">Aug 3</a>
      </li>
      <li><a href="#5a" data-toggle="tab">Aug 4</a>
      </li>
      <li><a href="#6a" data-toggle="tab">Aug 5</a>
      </li>
      <li><a href="#7a" data-toggle="tab">Aug 6</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1a">
        <div class="timetable"></div>
      </div>
      <div class="tab-pane" id="2a">

      </div>
      <div class="tab-pane" id="3a">

      </div>
      <div class="tab-pane" id="4a">
      </div>
    </div>

    <div class="row schedule-icons">
      <ul>
        <li><img src="/img/schedule/city.svg"></li>
        <li><img src="/img/schedule/innovation.svg"/></li>
        <li><img src="/img/schedule/education.svg"/></li>
        <li><img src="/img/schedule/housing.svg"/></li>
        <li><img src="/img/schedule/energy.svg"/></li>
        <li><img src="/img/schedule/decentralization.svg"/></li>
      </ul>
    </div>

  </div>

</section>



<script src="/js/timetable.js"></script>
<script>
var timetable = new Timetable();

timetable.setScope(9,23)

timetable.addLocations(['Auditorium', 'Room A', 'Room B', 'Room C', 'Room D', 'Room E', 'Room F']);

var options = {
  url: 'https://www.google.es/',
  class: 'vip',
  data: {
    id: 4,
    ticketType: 'VIP'
  }
}

timetable.addEvent('Conference', 'Auditorium', new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), options);
timetable.addEvent('Workshop 1', 'Room A', new Date(2015,7,17,12), new Date(2015,7,17,13), '#');
timetable.addEvent('Workshop 2', 'Room A', new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
timetable.addEvent('Round Table', 'Room C', new Date(2015,7,17,17,45), new Date(2015,7,17,19,30), '#');
timetable.addEvent('All-you-can-eat grill', 'Room D', new Date(2015,7,17,21), new Date(2015,7,18,1,30), '#');
timetable.addEvent('Hackathon', 'Room F', new Date(2015,7,17,11,30), new Date(2015,7,17,20)); 
timetable.addEvent('Symposium', 'Room B', new Date(2015,7,17,12,30), new Date(2015,7,17,16,15)); 
timetable.addEvent('Lunch', 'Room E', new Date(2015,7,17,9,30), new Date(2015,7,17,11,45), '#');

var renderer = new Timetable.Renderer(timetable);
renderer.draw('.timetable');
</script>

