<!-- Schedule section-->
<section id="schedule">
  <div class="container">
  <h1 class="text-center" style="padding-bottom: 50px; font-size: 19px;"> Schedule </h1>


  <!--Monthly -->

<div class="cd-schedule loading">
  <div class="timeline">
    <ul>
      <li><span>09:00</span></li>
      <li><span>09:30</span></li>
      <li><span>10:00</span></li>
      <li><span>10:30</span></li>
      <li><span>11:00</span></li>
      <li><span>11:30</span></li>
      <li><span>12:00</span></li>
      <li><span>12:30</span></li>
      <li><span>13:00</span></li>
      <li><span>13:30</span></li>
      <li><span>14:00</span></li>
      <li><span>14:30</span></li>
      <li><span>15:00</span></li>
      <li><span>15:30</span></li>
      <li><span>16:00</span></li>
      <li><span>16:30</span></li>
      <li><span>17:00</span></li>
      <li><span>17:30</span></li>
      <li><span>18:00</span></li>
    </ul>
  </div> 

  <div class="events">
    <ul>
      <li class="events-group">
        <div class="top-info"><span>Jul31</span></div>

        <ul>
          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug1</span></div>

        <ul>
          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug2</span></div>

        <ul>
          <li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug3</span></div>

        <ul>
          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Aug4</span></div>

        <ul>
          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>

          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Event</em>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="event-modal">
    <header class="header">
      <div class="content">
        <span class="event-date"></span>
        <h3 class="event-name"></h3>
      </div>

      <div class="header-bg"></div>
    </header>

    <div class="body">
      <div class="event-info"></div>
      <div class="body-bg"></div>
    </div>

    <a href="#0" class="close">Close</a>
  </div>

  <div class="cover-layer"></div>
</div> 

</div> <!--Container -->

</section>

<!--!!!!  Daily
  <div id="exTab1" class="container"> 

    <ul  class="nav nav-pills">
      <li class="active">
        <a  href="#1a" data-toggle="tab">Jul 31</a>
      </li>
      <li><a href="#2a" data-toggle="tab">Aug 1</a>
      </li>
      <li><a href="#3a" data-toggle="tab">Aug 2</a>
      </li>
      <li><a href="#4a" data-toggle="tab">Aug 3</a>
      </li>
      <li><a href="#5a" data-toggle="tab">Aug 4</a>
      </li>
      <li><a href="#6a" data-toggle="tab">Aug 5</a>
      </li>
      <li><a href="#7a" data-toggle="tab">Aug 6</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1a">
        <div class="timetable"></div>
      </div>
      <div class="tab-pane" id="2a">

      </div>
      <div class="tab-pane" id="3a">

      </div>
      <div class="tab-pane" id="4a">
      </div>
    </div>

    <div class="row schedule-icons">
      <ul>
        <li><img src="/img/schedule/city.svg"></li>
        <li><img src="/img/schedule/innovation.svg"/></li>
        <li><img src="/img/schedule/education.svg"/></li>
        <li><img src="/img/schedule/housing.svg"/></li>
        <li><img src="/img/schedule/energy.svg"/></li>
        <li><img src="/img/schedule/decentralization.svg"/></li>
      </ul>
    </div>

  </div>

</section>



<script src="/js/timetable.js"></script>
<script>
var timetable = new Timetable();

timetable.setScope(9,23)

timetable.addLocations(['Auditorium', 'Room A', 'Room B', 'Room C', 'Room D', 'Room E', 'Room F']);

var options = {
  url: 'https://www.google.es/',
  class: 'vip',
  data: {
    id: 4,
    ticketType: 'VIP'
  }
}

timetable.addEvent('Conference', 'Auditorium', new Date(2015,7,17,10,45), new Date(2015,7,17,12,30), options);
timetable.addEvent('Workshop 1', 'Room A', new Date(2015,7,17,12), new Date(2015,7,17,13), '#');
timetable.addEvent('Workshop 2', 'Room A', new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
timetable.addEvent('Round Table', 'Room C', new Date(2015,7,17,17,45), new Date(2015,7,17,19,30), '#');
timetable.addEvent('All-you-can-eat grill', 'Room D', new Date(2015,7,17,21), new Date(2015,7,18,1,30), '#');
timetable.addEvent('Hackathon', 'Room F', new Date(2015,7,17,11,30), new Date(2015,7,17,20)); 
timetable.addEvent('Symposium', 'Room B', new Date(2015,7,17,12,30), new Date(2015,7,17,16,15)); 
timetable.addEvent('Lunch', 'Room E', new Date(2015,7,17,9,30), new Date(2015,7,17,11,45), '#');

var renderer = new Timetable.Renderer(timetable);
renderer.draw('.timetable');
</script>
-->