<!--Tracks mosaic-->
<section id="tracks">
  <div id="group4" class="parallax__group">

    <div class="parallax__layer parallax__layer--back" style="opacity: 0.6;">   
    </div>

    <div class="parallax__layer parallax__layer--base">
      <div class="container text-center">
        <div class="row">
            <!--
            <div class="col-md-12">
              <p class="large bold" style="padding-bottom:50px;">Six thematic strategies:</p>
            </div>
          -->
        </div>
        <div class="row">
            {% for track in site.data.tracks %}
            <a href="#tracksModal{{ track.modalid }}" class="portfolio-link" data-toggle="modal">
            <div class="col-xs-12 col-md-4 col-sm-4 track-box bg-fade box-grow">
              <img src="{{ track.img }}" class="tracks-img" alt="">
              <h4>{{ track.name }}</h4>
              <div class="text-center" style="margin:0% 5%">
              <p>{{ track.short }}<span class="bold"></br>+more </span></p>
              </div>  
            </div>  
            </a>
            {% endfor %}
        </div> <!--row-->
      </div> <!--container-->
    </div><!--layer-base-->

  </div><!--group4-->
</section>











