<!--Tracks-->
  <div class="container" style="margin: 0px; padding:0px; width: 100%;">
    <div class ="row" style= "margin: 0px; padding:0px;" >
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #dce6da"></div>
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #457b9d" ></div>
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #1d3557"></div>
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #e63946"></div>
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #eb5f69"></div>
      <div class ="col-xs-12 col-sm-4 col-md-4 col-lg-3 track" style="background-color: #a8dadc"></div>
    </div>  
  </div>



