<!--Tracks mosaic-->
<section id="tracks" style="padding-bottom: 100px;">
  <div class="container text-center">
    <div class="row" style="padding-bottom: 30px;">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="img/icons/cities-w.svg" class="tracks-img" alt="">
        <h4>City</h4>
        <p>Can cities return to producing their own objects and find solutions to their own needs?</p>
      </div>  
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="img/icons/housing-w.svg" class="tracks-img" alt="">
        <h4>Housing</h4>
        <p>How can we provide solutions to the housing problem that exists in Latin America? </p>
      </div>  
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="img/icons/innovation-w.svg" class="tracks-img" alt="">
        <h4>Inovation</h4>
        <p>How can Fab Labs challenge conventional production schemes and be an innovation complement to the industry?</p>
      </div>  
    </div> <!--row-->

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="img/icons/energy-w.svg" class="tracks-img" alt="">
        <h4>Energy & Environment</h4>
        <p>Chile is home to two of the most polluted cities in Latin America. How can the country's clean energy resources be positively put to use?</p>
      </div>  
      <div class="col-md-4 col-sm-4 col-xs-12">
       <img src="img/icons/education-w.svg" class="tracks-img" alt="">
       <h4>Education</h4>
       <p>This is a sentence about education, and also a question to cmplement this sentence?</p>
      </div>  
      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="img/icons/decentralization-w.svg" class="tracks-img" alt="">
        <h4>Decentralization</h4>
        <p>With the objective of amplifying the impact of Fab13, this year we extend its reach to the regions!</p>
      </div>   
    </div><!--row-->

  </div> <!--container-->
</section>













