<!--Travel img carousel -->

<div id="travelCarousel" class="carousel slide" data-ride="carousel" style="height: 380px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#travelCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#travelCarousel" data-slide-to="1"></li>
    <li data-target="#travelCarousel" data-slide-to="2"></li>
    <li data-target="#travelCarousel" data-slide-to="3"></li>
    <li data-target="#travelCarousel" data-slide-to="4"></li>
    <li data-target="#travelCarousel" data-slide-to="5"></li>
    <li data-target="#travelCarousel" data-slide-to="6"></li>
    <li data-target="#travelCarousel" data-slide-to="7"></li>
    <li data-target="#travelCarousel" data-slide-to="8"></li>
    <li data-target="#travelCarousel" data-slide-to="9"></li>
    <li data-target="#travelCarousel" data-slide-to="10"></li>
    <li data-target="#travelCarousel" data-slide-to="11"></li>
    <li data-target="#travelCarousel" data-slide-to="12"></li>
    <li data-target="#travelCarousel" data-slide-to="13"></li>
    <li data-target="#travelCarousel" data-slide-to="14"></li>
    <li data-target="#travelCarousel" data-slide-to="15"></li>
    <li data-target="#travelCarousel" data-slide-to="16"></li>
    <li data-target="#travelCarousel" data-slide-to="17"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="fill" style="background-image:url('/img/travel/0.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/1.jpg');"></div>
    </div>
    <div class="item">
     <div class="fill" style="background-image:url('/img/travel/2.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/3.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/4.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/5.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/6.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/7.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/8.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/9.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/10.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/11.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/12.jpg');"></div>
    </div>   
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/13.jpg');"></div>
    </div>  
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/14.jpg');"></div>
    </div>  
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/15.png');"></div>
    </div>  
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/16.jpg');"></div>
    </div>   
    <div class="item">
      <div class="fill" style="background-image:url('/img/travel/17.jpg');"></div>
    </div>      
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#travelCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#travelCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
















