<!--Travel-->
<section id="travel">
  <div id="group7" class="parallax__group">

    <div class="parallax__layer parallax__layer--back">
      <img class="bg-responsive" src="/img/backgrounds/color-top-navy.svg"/>
      <!--<img class="bg-responsive" src="/img/backgrounds/intro.svg" style="float:right;">-->
    </div>


    <div class="parallax__layer parallax__layer--fore">

          <div class="col-sm-12 col-md-12 text-right">
            <img class="" src="/img/icons/plane.svg" style="margin-top:190px; width:200px;">
          </div>
          <div class="col-sm-12 col-md-12 text-center">
            <a class="btn btn-inverted alt" style="margin-top: 55px;" href="/fab_13_chile_magazine.pdf"target="_blank" >Download the Guide</a>
          </div>
    </div>


    <div class="parallax__layer parallax__layer--base">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-title">Discover Chile</h3>
          </div>
          <div class="col-sm-8 col-md-8 text-center">
            <img src="/img/backgrounds/santiago.jpg" style="width:90%;">
          </div>  
        </div><!--row-->
      </div><!--container-->
    </div><!--layer base-->

  </div><!--parallax-group-->
</section>















