<!--Travel-->
<div id="group7" class="parallax__group">

  <div class="parallax__layer parallax__layer--deep">
    <div class="col-sm-12 col-md-12 text-right">
          <!--<img class="" src="/img/icons/plane.svg" style="margin-top:490px; width:200px;">-->
        </div>
  </div>

  <div class="parallax__layer parallax__layer--back" style="">
    <img class="bg-responsive group-top" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


  <!--<div class="parallax__layer parallax__layer--fore">
        
  </div>-->


  <div class="parallax__layer parallax__layer--base top">
    <div class="container group-top text-center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">Travel</h3>
        </div>
       <div class="col-md-6 col-sm-6 text-center">
         <img src="/img/backgrounds/santiago.jpg" style="width:90%;">
        </div>
        <div class="col-sm-12 col-md-12 text-center">
          <a class="btn btn-inverted alt" style="margin-top: 55px;" href="/fab_13_chile_magazine.pdf"target="_blank" >Download the Guide</a>
        </div> <!--col-->
      </div><!--row-->
    </div><!--container-->
  </div><!--layer base-->

</div><!--parallax-group-->
















