<!--Travel-->
<div id="group16" class="parallax__group">

  <div class="parallax__layer parallax__layer--back" style="height: 1900px;">
    <img class="bg-responsive group-top" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


  <div class="parallax__layer parallax__layer--base top">
    <div class="container group-top text-center" style="padding-top: 60px;">
      <div class="row row-page">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">Travel</h3>
        </div>
        <div class="col-sm-12 col-md-12 text-center">
           {% include travel-carousel.html %}
        </div>
      </div>


      <div class="row row-page">
        <div class="col-sm-12 text-center">
          <h4 class="section-title">Hotels</h4>
        </div>
        {% for hotel in site.data.hotels %}
          <a href="{{ hotel.url }}">
          <div class="col-xs-12 col-md-6 col-sm-6 track-box bg-fade box-grow" style="height:auto;">
            <div class="hotel-img bg-img" style="background-image: url(../img/travel/{{ hotel.img }});">
            </div>
            <div class="hotel-description">
              <h4>{{ hotel.name }}</h4>
              <div class="text-center" style="margin:0% 5%">
                <p>{{ hotel.short }}<span class="bold"></br>+make reservation </span></p>
              </div>  
            </div>
          </div>  
          </a>
        {% endfor %}
      </div>

      <div class="row row-page">
        <div class="col-sm-12 text-center">
          <h4 class="section-title">Transport</h4>
        </div>
      </div>

      <div class="row row-page">
        <div class="col-sm-12 text-center">
          <h4 class="section-title">Discover Chile</h4>
        </div>
        <div class="col-sm-12 text-center" style="height: 700px;">
          <div data-configid="27087082/46609787" style="width:100%; height:700px;" class="issuuembed"></div>
          <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
        <div class="col-sm-12 col-md-12 text-center">
          <a class="btn btn-inverted alt" style="margin-top:55px;" href="/fab_13_chile_magazine.pdf"target="_blank" >Download the Magazine</a>
        </div>
      </div>

      <div class="row row-page">
        <div class="col-md-12 text-center">
          <h4 class="section-title">Visas and Invitation Letters</h4>
        </div>
        <div class="col-lg-12 row-page text-center">
          <p class="bold">If you plan on travelling to FAB13 you may require a visa to enter Chile. Please check the list below.</p>
        </div>
        {% for letter in site.data.visas %}
          <div class="col-xs-4 col-md-4 col-sm-4 country-bullets">
            <h4 style="color: #1d3557;">{{ letter.initial }} </h4>
            <div class="visa-list">
              <ul class="country-list">
              {% for country in letter.countries %}
                <li> {{ country.name }} </li>
              {% endfor %}
              </ul>
            </div>
          </div>  
        {% endfor %}
      </div>

    </div><!--container-->
  </div><!--layer base-->
</div><!--parallax-group-->
















