<!--Travel-->
<div id="group7" class="parallax__group">

  <div class="parallax__layer parallax__layer--deep">
    <div class="col-sm-12 col-md-12 text-right">
          <img class="" src="/img/icons/plane.svg" style="margin-top:490px; width:200px;">
        </div>
  </div>

  <div class="parallax__layer parallax__layer--back travel-back">
    <img class="bg-responsive group-top" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


  <!--<div class="parallax__layer parallax__layer--fore">
        
  </div>-->


  <div class="parallax__layer parallax__layer--base top">
    <div class="container group-top text-center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">Travel</h3>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 text-center">
         <img src="/img/backgrounds/santiago.jpg" style="width:92%;" title="Photo by alobos Life on Flickr, CC BY-NC-ND 2.0 License">
        </div>
        <div class="col-md-6 col-sm-6 text-left" style="padding-top: 0%;">
        <p style="padding-left: 13px;">Plan your trip to Santiago! We provide you with hotel and visa information, transportation, recommendation letters and more.</p> 
        </div>
        <div class="col-sm-12 col-md-12 text-center">
          <a class="btn btn-inverted alt link-grow" style="margin-top: 55px;" href="/travel"target="_blank" >Go to travel info</a>
        </div> <!--col-->
      </div><!--row-->
    </div><!--container-->
  </div><!--layer base-->

</div><!--parallax-group-->
















