<!--Travel-->

<div id="travel" class="parallax__group">

  <div class="parallax__layer parallax__layer--deep">
    <div class="col-sm-12 col-md-12 text-right plane">
      <img class="" src="/img/icons/plane.svg" style="width:200px;">
    </div>
  </div>

  <div class="parallax__layer parallax__layer--back">
    <img class="bg-responsive" src="/img/backgrounds/color-top-navy.svg"/>
  </div>


  <div class="parallax__layer parallax__layer--base">
    <div class="container section-content text-center">

      <!-- Start -->
      <div class="row">
        <div class="col-lg-12 text-center">
        <h3 class="section-title">VIAJE</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 text-center">
          <img src="{{ site.data.travel-home.img }}" title="{{ site.data.travel-home.img-license }}" style="width:100%; padding-bottom: 40px;">
        </div>
        <div class="col-md-6 col-sm-6 text-left" style="padding-bottom: 10px;">
          <p style="padding-left: 0px;">{{ site.data.travel-home.cast.description }}</p> 
          {% for link in site.data.travel-home.links %}
            <a href="{{ link.url }}" target="_blank">
              <h4 class="section-link link-grow">+ {{ link.cast }}</h4>
            </a>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-12 text-center" style="padding-bottom: 60px;">
          <a class="btn btn-inverted alt link-grow" style="margin-top: 55px;" href="/viaje"target="_blank" >{{ site.data.travel-home.cast.button }}</a>
        </div> 
      </div><!--row-->
    </div><!--container-->
  </div><!--layer base-->

</div><!--parallax-group-->
















