<!--Twitter full -->

<!--
<section id="twitter-full">
	<div id="group6" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
			<div class="title">
				this is a sentence
			</div>
		</div>
	</div>		

	
	<div class="parallax__layer parallax__layer--back">
		<div class="title">
			<img src="/img/backgrounds/santiago.jpg"/>
		</div>
	</div>
</section>
-->

<section>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
</section>    