
<!--Venues Section -->
<section id="venues">
	<div id="group9" class="parallax__group">
		<div class="parallax__layer parallax__layer--back text-center">
			<img class="bg-responsive" src="/img/backgrounds/color-top-gray.svg"/>
			<!--<img src="/img/backgrounds/particles-white-short.svg"/> -->
		</div>
		<div class="parallax__layer parallax__layer--base">
			<div class="container text-center">
				<div class="row">
	                <div class="col-lg-12 text-center">
	                    <h3>VENUES</h3>
	                </div>
	            </div>
			    <div id="cd-google-map">
			        <!--<address>86-90 Paul Street, London, EC2A 4NE</address> -->
			        <div id="google-container"></div>
			        <div id="cd-zoom-in"></div>
			        <div id="cd-zoom-out"></div>
			    </div> 
			    <div class="row text-left" style="padding-top:60px;">
	                <div class="col-xs-12 col-md-4">
	                    <h4 class="">Fab Lab Santiago </h4>
	                    <p> Seminario 642, Santiago, Ñuñoa</p>
	                </div>
	               	<div class="col-xs-12 col-md-4">
	                    <h4 class="">Auditorium </h4>
	                    <p> Seminario 642, Santiago, Ñuñoa</p>
	                </div>
	               	<div class="col-xs-12 col-md-4">
	                    <h4 class="">Restaurant </h4>
	                    <p> Seminario 642, Santiago, Ñuñoa</p>
	                </div>
	            </div>  
			</div> <!--container-->
		</div><!--layer base-->
	</div> <!--parallax group-->
</section>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPVpqylQQcuma6X00KzNbejOFak427SZU&callback=initMap"
  type="text/javascript"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
