<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body id="page-top" class="index">  
        {% include navbar.html %}
       
    <div class="parallax">   
    	{% include conference-header.html %}
        {% include speakers-conference.html %}
        {% include panels.html %}
        {% include venues.html %}
        {% include tickets.html %}
        {% include faq.html %}
        {% include sponsors.html %}
        {% include subscribe.html %}
        {% include footer.html %}
    </div>
        {% include modals.html %}
        {% include mailchimp-modal.html %}
        {% include email-modal.html %}
        {% include speakers-modals.html %}
        {% include js.html %}
    </body>



</html>
