<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body id="page-top" class="index">  

   <!--
    <div class="debug">
    <label><input type="checkbox"> Debug</label>
    </div>
    -->
        {% include navbar.html %}
        {% include twitter.html %}
       
    <div class="parallax">    
        {% include curtain.html %}
        {% include header.html %}
        {% include intro.html %}
        {% include tracks.html %}
        {% include symposium.html %}
        {% include activities.html %}
        {% include festival.html %}
        {% include travel.html %}
        {% include schedule.html %}
        {% include venues.html %}
        {% include tickets.html %}
        {% include faq.html %}
        {% include partners-logos.html %}
        {% include footer.html %}
   
    </div>
        {% include modals.html %}
        {% include speakers-modals.html %}
       
        {% include js.html %}
    </body>



</html>
