<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body id="page-top" class="index">  

   
    <div class="debug">
    <label><input type="checkbox"> Debug</label>
    </div>


        {% include navbar.html %}
        {% include twitter.html %}

    <div class="parallax">
        {% include curtain.html %}
        {% include header.html %}
        {% include intro-text.html %}
        {% include tracks.html %}
        {% include speakers.html %}
        {% include festival.html %}
        {% include travel.html %}
        {% include timetable.html %}
        {% include map.html %}
        {% include footer.html %}
    </div>
        {% include modals.html %}
        {% include activities-modals.html %}
        {% include js.html %}


    </body>

</html>
